{% extends 'repository/base.html' %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1>New Post</h1>
        <form id="newPostForm" method="post" action="{% url 'homepage' %}" >
            {% csrf_token %}
            <div class="form-group row">
                <div class="form-group">
                    {{ form.title|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group ">
                    {{ form.overview|as_crispy_field }}
                </div>
            </div>        
            <div class="form-group row">
                <div class="form-group col-md-2 mb-0">
                    {{ form.authors|as_crispy_field }}
                </div>
                <div id="addAuthor" class="form-group col-md-2 mt-5 text-center" >
                    <a class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#addAuthorModal"> Add 
                    </a>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.thumbnail|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-2 mb-0">
                    {{ form.categories|as_crispy_field }}
                </div>
                <div id="addCategory" class="form-group col-md-2 mt-5 text-center" >
                    <a class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#addCategoryModal"> Add 
                    </a>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-2 mb-0">
                    {{ form.venue|as_crispy_field }}
                </div>
                <div id="addVenue" class="form-group col-md-2 mt-5 text-center" >
                    <a class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#addVenueModal"> Add 
                    </a>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.citation|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.pdf|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.supplement|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.slides|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.poster|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.code|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.video|as_crispy_field }}
                </div>
            </div>      
            
              
            <input type="submit" class='btn btn-primary btn-sm'value="Submit">
        </form>
    </div>
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}


{% endblock content %}
